[submodule "E-Kirkpatrick-POC-Implementation-and-instructions"]
	path = E-Kirkpatrick-POC-Implementation-and-instructions
	url = https://github.com/MQ-FOAR705/E-Kirkpatrick-POC-Implementation-and-instructions.git
